{% extends "base.html.jinja2" %}
{% set active_page = "modules" %}
{% block title %}模块管理{% endblock %}

{% block content %}

<h3>📦 模块管理</h3>

<div id="module-form-panel">
    {% include "_module_form.html.jinja2" %}
</div>

<!-- Module List -->
{% include "_modules_table.html.jinja2" %}

{% endblock %}
